.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 15px 60px;
  background: white;
}

.btn-danger:hover {
  color: white;
  background-color: rgba(220, 20, 60, 0.548);
  border-color: black;
}

.btn-light:hover {
  background-color: white;
  border-color: crimson;
}

.col-6 {
  text-align: center;
}

.col-6-spec {
  margin-top: 80px;
  margin-left: 80px;
  text-align: right;
}

.specs {
  margin-left: 65px;
}

.main-icon {
  display: block;
  margin-left: 50px;
  width: 75%;
  padding: none;
}

.row {
  text-align: center;
}

.col-2 {
  text-align: center;
}

.active {
  color: crimson;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

#current-time {
  color: crimson;
}

#current-day-time {
  color: blue;
}

#description {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  height: 50;
  padding: 10px;
  margin: 0;
}

h1 {
  font-size: 32px;
  color: crimson;
  text-align: center;
}

h2 {
  font-size: 40px;
  border-radius: 4px;
  margin: 15px auto 10px;
  color: crimson;
}

h3 {
  font-size: 20px;
  color: crimson;
}

h4 {
  text-align: left;
  font-size: 16px;
  padding: 0;
  color: crimson;
}

hr {
  margin: 10px auto;
}

footer {
  text-align: center;
  font-size: 15px;
  color: black;
}

.main-icon {
  display: block;
  margin: 0 auto;
}
